%h1
  = params[:tag]
  
#articles
  - @articles.each do |article|
    .article
      %h2
        - if Gluttonberg.localized?
          = link_to article.title, blog_article_path(current_localization_slug , article.blog.slug, article.slug)
        - else
          = link_to article.title, blog_article_path(:blog_id => @blog.slug, :id => article.slug)
        by
        = article.author.full_name
      - unless article.excerpt.blank?
        %p
          = article.excerpt.html_safe
  
  .tags_cloud
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      
      - if Gluttonberg.localized?
        = link_to tag.name, articles_by_tag_path(current_localization_slug ,tag.name), :class => css_class
      - else
        = link_to tag.name, articles_by_tag_path(:tag => tag.name), :class => css_class
      
